{% extends '_table/_table.html.twig' %}

{% block show_route_column %}
    <a href="{{ path('admin_registration_edit', {'event':event.id, 'registration': row.object.id}) }}">
        <span class="fa fa-edit"></span>
    </a>
{% endblock %}
