{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.registration.create.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_registration_list', {'event':registration.event.id}) %}
