{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.registration.delete_all.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_registration_list', {'event':event.id}) %}

{% block card_body %}
    {% if form is defined %}
        {{ parent() }}
        <p class="lead">{{ 'admin.registration.delete_all.confirmation_message'|trans({'%event%':event.name}) }}</p>
    {% endif %}
{% endblock %}

