{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.registration.delete.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_registration_edit', {'event':registration.event.id, 'registration':registration.id}) %}

{% block card_body %}
    {% if form is defined %}
        {{ parent() }}
        <p class="lead">{{ 'admin.registration.delete.confirmation_message'|trans({'%full_name%':registration}) }}</p>
    {% endif %}
{% endblock %}

