{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.registration.edit.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_registration_list', {'event':registration.event.id}) %}
{% set url_delete = path('admin_registration_delete', {'sluggedName':registration.event.workspace.sluggedName, 'registration':registration.id}) %}
