{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.registration.list.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_registration_list', {'event':event.id}) %}

{% block card_content %}
    <div class="card-header">
        <div class="card-title">
            <h4>{{ event.name }}</h4>
        </div>
        <div class="card-tools">
            {% if is_granted(constant('App\\Security\\Voter\\EventVoter::EDIT'), event) %}
                <a href="{{ path('admin_registration_delete_all', {'event':event.id}) }}" class="btn btn-danger">
                    <i class="fa fa-trash"></i>
                    {{ 'admin.registration.list.action.delete_all'|trans }}
                </a>
                -
            {% endif %}
            <a href="{{ path('admin_event_list', {'sluggedName':workspace.sluggedName}) }}" class="btn btn-secondary">
                <i class="fa fa-chevron-left"></i>
                {{ 'meta.word.back'|trans }}
            </a>
            <a href="{{ path('admin_registration_export_excel', {'event':event.id}) }}" class="btn btn-primary">
                <i class="fa fa-file-excel"></i>
                {{ 'admin.registration.list.action.export_xlsx'|trans }}
            </a>
            {% if is_granted(constant('App\\Security\\Voter\\EventVoter::CREATE_REGISTRATION'), event) %}
                <a href="{{ path('admin_registration_create', {'event':event.id}) }}" class="btn btn-primary">
                    <i class="fa fa-plus"></i>
                    {{ 'meta.word.add'|trans }}
                </a>
            {% endif %}
        </div>
    </div>

    {{ parent() }}
{% endblock %}

{% block card_body %}
    {% embed '_table/_table.html.twig' with {'table': table, 'workspace':workspace} %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/kiliktable/js/KilikTable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTableFA("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode | raw }}'));
            table.init();
        });
    </script>
{% endblock %}
