{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.event.create.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_event_list', {'sluggedName':workspace.sluggedName}) %}
