{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.event.delete.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_event_edit', {'sluggedName':workspace.sluggedName, 'event': event.id}) %}

{% block card_body %}
    {% if form is defined %}
        {{ parent() }}
        <p class="lead">{{ 'admin.event.delete.confirmation_message'|trans({'%name%':event.name}) }}</p>
    {% endif %}
{% endblock %}

