{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.event.edit.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_event_list', {'sluggedName':workspace.sluggedName}) %}
{% set url_delete = path('admin_event_delete', {'sluggedName':event.workspace.sluggedName, 'event':event.id}) %}
