{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.event.list.title'|trans }}{% endblock %}

{% set url_cancel = path('admin_event_list', {'sluggedName':workspace.sluggedName}) %}

{% block card_content %}
    {% if is_granted(constant('App\\Security\\Voter\\WorkspaceVoter::CREATE_EVENT'), workspace) %}
        <div class="card-header">
            <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                    <li class="nav-item">
                        <a href="{{ path('admin_event_create', {'sluggedName':workspace.sluggedName}) }}" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            {{ 'meta.word.add'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block card_body %}
    {% embed '_table/_table.html.twig' with {'table': table, 'workspace':workspace} %}{% endembed %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/kiliktable/js/KilikTable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var table = new KilikTableFA("{{ table.id }}", "{{ table.path }}", JSON.parse('{{ table.options | json_encode | raw }}'));
            table.init();
        });
    </script>
{% endblock %}
