{% extends 'security_layout.html.twig' %}

{% block body_class %}login-page{% endblock body_class %}
{% block box_sub_title %}<h6>{{ 'meta.sub_title'|trans }}</h6>{% endblock %}

{% block card_body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <p class="login-box-msg">{{ 'security.authentication.login.title'|trans }}</p>

    <form method="post">
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="{{ 'user.label.email'|trans({}, 'forms') }}"
                   value="{{ last_username }}" name="email" required autofocus>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="password" name="password" class="form-control" placeholder="{{ 'user.label.password'|trans({}, 'forms') }}" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        <div class="row">
            <div class="col-lg-6"></div>
            <!-- /.col -->
            <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary btn-block">{{ 'security.authentication.login.submit'|trans }}</button>
            </div>
            <!-- /.col -->
        </div>
    </form>

    <br />

    <p class="mb-1">
        <a href="#">{{ 'security.authentication.login.forget_password'|trans }}</a>
    </p>
    <p class="mb-0">
        <a href="{{ path('security_registration_register') }}" class="text-center">{{ 'security.authentication.login.register'|trans }}</a>
    </p>
{% endblock %}

