<a href="{{ path('admin_registration_list', {'event' : event.id}) }}"
   class="{% if registration_count < event.registrationCapacity %}
            text-success
        {% elseif registration_count > event.registrationCapacity %}
            text-danger
        {% else %}
            text-orange
        {% endif %}">
    <i class="fa fa-users"></i>
    {{ 'admin.registration.list.registration_count'|transchoice(registration_count, {'count':registration_count}) }}
</a>
