{% extends 'security_layout.html.twig' %}

{% block body_class %}register-page{% endblock body_class %}
{% block box_class %}register-box{% endblock %}
{% block card_body_class %}register-card-body{% endblock %}

{% block card_body %}
    <p class="login-box-msg">{{ 'security.registration.register.title'|trans }}</p>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.workspaces_name) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}

    <div class="row">
        <div class="col-6">
            <a href="{{ path('security_login') }}" class="btn btn-default btn-block">
                <i class="fa fa-chevron-left"></i>
                {{ 'meta.word.back'|trans }}
            </a>
        </div>
        <!-- /.col -->
        <div class="col-6">
            <button type="submit" class="btn btn-primary btn-block">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {{ 'security.registration.register.submit'|trans }}
            </button>
        </div>
        <!-- /.col -->
    </div>
    {{ form_end(registrationForm) }}
{% endblock %}

