{% extends ('_mailer/layout.html.twig') %}
{% trans_default_domain 'mailer' %}

{# @var registration \App\Entity\Registration #}

{% block title %}
    {{ 'event_registration.confirmation_email.title'|trans({
        '%workspace%' : registration.event.workspace.name,
        '%event%' : registration.event.name,
        '%name%' : registration.fullName,
    }) }}
{% endblock title %}

{% block intro %}
    {{ 'meta.word.hello'|trans({}, 'messages') }} {{ registration.fullName }},
    <br/><br/>
{% endblock %}

{% block content %}
    {% set url =  url('event_registration_deregister', {
        'sluggedName': registration.event.workspace.sluggedName,
        'event': registration.event.id,
        'token':registration.deregistrationToken
    }) %}

    <p>
        {{ 'event_registration.confirmation_email.content'|trans({
            '%event%': registration.event.name
        })|nl2br }}

        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock content %}
