{% trans_default_domain 'mailer' %}
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table { width:100%; border:1px solid #2b4049;border-collapse:collapse; }
        th { padding:5px;background-color:#2b4049;color:#ffffff;font-weight:bold; }
        td { padding:5px; text-align:center; }
        td.pair { background-color:#f3f1f1;padding:5px;}
        tr.pair { background-color:#f3f1f1;padding:5px;}
        hr{height: 1px; background-color: #2b4049;border: 0;}
        h3 { padding:5px;background-color:#2b4049;border:1px solid #2b4049;color: #ffffff;;text-align:center; }
        a { color : #BC177E; }
    </style>
</head>
<body>
<h3>{{ block('title') }}</h3>

{% block intro %}
    {{ 'meta.word.hello'|trans({}, 'messages') }},
    <br/><br/>
{% endblock %}

<div>{% block content %}{% endblock %}</div>

<p>{% block outro %}{{ 'meta.outro'|trans|nl2br }}{% endblock %}</p>

<hr/>
<div style="text-align:center">
    <strong>{{ 'meta.title'|trans({}, 'messages') }}</strong><br/>
    {{ 'meta.sub_title'|trans({}, 'messages') }}
</div>
</body>
</html>
