{% extends ('_mailer/layout.html.twig') %}
{% trans_default_domain 'mailer' %}

{% block title %}
    {{ 'security.registration.confirm_email.title'|trans }}
{% endblock title %}

{% block content %}
    {# @var user \App\Entity\User #}
    {% set url =  url('security_registration_confirm', {'token':user.confirmationToken}) %}

    <p>
        {{ 'security.registration.confirm_email.content'|trans({'%email%': user.email, '%workspace%': user.workspaces.first.name })|nl2br }}
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock content %}
