{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'event_registration.deregister.title'|trans({'%event%':registration.event.name}) }}{% endblock %}

{% set url_cancel = path('workspace', {'sluggedName':workspace.sluggedName}) %}

{% block card_body %}
    {% if form is defined %}
        {{ parent() }}

        <p class="lead">{{ 'event_registration.deregister.confirmation_message'|trans({
                '%name%': (registration.fullName),
                '%event%': registration.event.name
        })|nl2br }}</p>
    {% endif %}
{% endblock %}

{% block card_footer_submit_button %}
    <button type="submit" class="btn btn-success">
        <span class="fa fa-check" aria-hidden="true"></span>
        {{ 'event_registration.deregister.action.deregister'|trans }}
    </button>
{% endblock %}
