{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'event_registration.register.title'|trans({'%event%':event.name}) }}{% endblock %}

{% set url_cancel = path('workspace', {'sluggedName':workspace.sluggedName}) %}
