{% extends '@KilikTable/_defaultTable.html.twig' %}

{# Remove table title #}
{% block tableTitle %}{% endblock tableTitle %}

{# add a column to the left #}
{% block tableHeadStdColumns %}
    <th>&nbsp;</th>
    {% for column in table.columns %}
        {% include "_table/_columnName.html.twig" %}
    {% endfor %}
{% endblock tableHeadStdColumns %}

{% block tableHeadStdFilters %}
    <td>&nbsp;</td>
    {{ parent() }}
{% endblock tableHeadStdFilters %}

{% block tableBodyStdColumns %}
    <td>
        {% block show_route_column %}
            {% if show_route_name is defined  and show_route_identifier_name is defined %}
                <a href="{{ path(show_route_name, {'sluggedName':workspace.sluggedName, (show_route_identifier_name) : row.object.id}) }}">
                    <span class="fa fa-edit"></span>
                </a>
            {% else %}
                &nbsp;
            {% endif  %}
        {% endblock %}
    </td>
    {{ parent() }}
{% endblock tableBodyStdColumns %}

{% block tablePaginationAjax %}
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page < 2 %}disabled{% endif %}" data-table-page="1">
        <span class="fa fa-fast-backward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page < 2 %}disabled{% endif %}" data-table-page="{{ table.previousPage }}">
        <span class="fa fa-backward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton" data-table-page="{{ table.page }}">
        {{ table.page }}
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page > table.lastPage-1 %}disabled{% endif %}" data-table-page="{{ table.nextPage }}">
        <span class="fa fa-forward"></span>
    </a>
    <a href="#" class="btn btn-default tablePaginationButton {% if table.page > table.lastPage-1 %}disabled{% endif %}" data-table-page="{{ table.lastPage }}">
        <span class="fa fa-fast-forward"></span>
    </a>
{% endblock tablePaginationAjax %}
