{% extends 'layout.html.twig' %}

{% block content_header_title %}{% endblock %}

{% block card_body %}
    <h3>
        {{ 'meta.word.welcome'|trans }} !
        {% if is_granted(constant('App\\Security\\Voter\\WorkspaceVoter::EDIT'), workspace) %}
            <a href="{{ path('admin_workspace_edit', {'sluggedName': workspace.sluggedName}) }}" class="btn btn-primary">
                <i class="fa fa-edit"></i>
                {{ 'meta.word.edit'|trans }}
            </a>
        {% endif %}
    </h3>
    {% if workspace.presentation %}
        <div class="jumbotron">
            {{ workspace.presentation|nl2br }}
        </div>
    {% endif %}

    {% if is_granted(constant('App\\Security\\Voter\\WorkspaceVoter::EDIT'), workspace) %}
        <div class="form-group">
            <label for="workspace-public-link">{{ 'workspace.index.share_link'|trans }}</label>
            <input type="text" class="form-control" id="workspace-public-link"
                   value="{{ url('workspace', {'sluggedName': workspace.sluggedName}) }}"
                   readonly="readonly">
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}
    {{ parent() }}

    {% if not workspace.openEvents.empty %}
        <h4>{{ 'workspace.index.event_list'|trans }}</h4>
    {% else %}
        <h4>{{ 'workspace.index.event_list_empty'|trans }}</h4>
    {% endif %}

    <div class="row">
        {% for event in workspace.openEvents %}
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5>{{ event.name }}
                            <span class="badge {% if event.registrationFull %}badge-warning{% else %}badge-success{% endif %} float-right">
                                {{ 'workspace.index.event_registration_available_count'|transchoice(event.registrationAvailableCount, {'%count%':event.registrationAvailableCount}) }}
                            </span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ event.description|nl2br }}</p>
                        {% if event.registrationFull %}
                            <a href="#" class="btn btn-secondary">
                                <del>{{ 'workspace.index.action.register_to_event'|trans }}</del>
                            </a>
                        {% else %}
                            <a href="{{ path('event_registration_register', {'sluggedName':workspace.sluggedName, 'event':event.id}) }}" class="btn btn-primary">
                                <i class="fa fa-clipboard-list"></i>
                                {{ 'workspace.index.action.register_to_event'|trans }}
                            </a>
                        {% endif %}

                        {% if is_granted(constant('App\\Security\\Voter\\EventVoter::EDIT'), event) %}
                            <a href="{{ path('admin_event_edit', {'sluggedName': workspace.sluggedName, 'event': event.id}) }}" class="btn btn-primary">
                                <i class="fa fa-edit"></i>
                                {{ 'meta.word.edit'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
