{% extends 'layout.html.twig' %}

{% block content_header_title %}{{ 'admin.worspace.edit.title'|trans }}{% endblock %}

{% set url_cancel = path('workspace', {'sluggedName':workspace.sluggedName}) %}

