<nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
        <a href="{% if workspace is defined %}{{ path('workspace', {'sluggedName':workspace.sluggedName}) }}{% else %}#{% endif %}" class="navbar-brand">
            <img src="{{ asset('assets/images/logo.png') }}" alt="Lievr logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
            <span class="brand-text font-weight-light">
                {% if workspace is defined %}{{ workspace.name }}{% else %}{{ 'meta.title'|trans }}{% endif %}</span>
        </a>

        {% if workspace is defined and is_granted(constant('App\\Security\\Voter\\WorkspaceVoter::LIST_EVENT'), workspace) %}
            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('admin_event_list', {'sluggedName':workspace.sluggedName}) }}" class="nav-link">{{ 'menu.event'|trans }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if app.user %}
            <!-- Navbar Right Menu -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <!-- Menu Toggle Button -->
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        {{ app.user.email }}
                    </a>
                    {% block navbar_user %}
                        <ul class="dropdown-menu text-center" id="user-dropdown-menu">
                            <li class="dropdown-item">
                                <a href="{{ path('security_logout') }}" class="btn">
                                    <i class="fa fa-power-off"></i> {{ 'meta.word.logout'|trans }}
                                </a>
                            </li>
                        </ul>
                    {% endblock navbar_user %}
                </li>
                <!-- /.user-menu -->
            </ul>
        {% else %}
            <a href="{{ path('security_login') }}" class="order-1 order-md-3">
                <i class="fa fa-sign-in-alt"></i>
                {{ 'meta.word.login'|trans }}
            </a>

        {% endif %}
    </div>
</nav>
<!-- /.navbar -->
