<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block head_title %}{{ 'meta.title'|trans }} - {{ 'meta.sub_title'|trans }}{% endblock head_title %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/fontawesome-all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/adminlte.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
            {#<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">#}
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/favicon.ico') }}"/>
    </head>

    <body class="{#hold-transition#} {% block body_class %}sidebar-mini{% endblock body_class %}">
    {% block body %}{% endblock body %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/adminlte.min.js') }}"></script>
    {% endblock javascripts %}
    </body>
</html>
