{% extends 'base.html.twig' %}

{% from 'macros.html.twig' import alert %}

{% block body_class %}layout-top-nav{% endblock body_class %}

{% block body %}
    <div class="wrapper">
        <!-- Navbar -->
        {% include '_navbar.html.twig' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <h3 class="m-0 text-dark">{% block content_header_title %}{% endblock %}</h3>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            {% for type, flashMessages in app.session.flashbag.all %}
                                {% for flashMessage in flashMessages %}
                                    {{ alert(type, flashMessage) }}
                                {% endfor %}
                            {% endfor %}

                            {% if form is defined %}
                                {{ form_start(form) }}
                            {% endif %}

                            {% block page_content %}
                                <div class="card {% block card_body_class %}card-primary card-outline{% endblock %}">
                                    {% block card_content %}
                                        <div class="card-body">
                                            {% block card_body %}
                                                {% if form is defined %}
                                                    {{ form_widget(form) }}
                                                {% endif %}
                                            {% endblock %}
                                        </div>

                                        <div class="card-footer">
                                            {% block card_footer %}
                                                {% if form is defined %}
                                                    {% if url_delete is defined %}
                                                        <a href="{{ url_delete }}" class="btn btn-danger">
                                                            <span class="fa fa-trash " aria-hidden="true"></span>
                                                            <span class="hidden-xs">{{ 'meta.word.delete'|trans }}</span>
                                                        </a>
                                                        &nbsp;-&nbsp;
                                                    {% endif %}

                                                    {% if url_cancel is defined %}
                                                        <a href="{{ url_cancel }}" class="btn btn-secondary">
                                                            <i class="fa fa-chevron-left"></i>
                                                            {{ 'meta.word.back'|trans }}
                                                        </a>
                                                    {% endif %}

                                                    {% block card_footer_submit_button %}
                                                        <button type="submit" class="btn btn-success">
                                                            <span class="fa fa-check" aria-hidden="true"></span>
                                                            {{ 'meta.word.save'|trans }}
                                                        </button>
                                                    {% endblock %}
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                    {% endblock %}
                                </div>
                                <!-- /.card -->
                            {% endblock %}

                            {% if form is defined %}
                                {{ form_end(form) }}
                            {% endif %}
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer text-sm">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 text-center text-md-left">
                        Copyright &copy; 2019-{{ 'now'|date('Y') }}
                    </div>
                    <div class="col-lg-4 text-center">
                        <a title="{{ app_version() }}" href="#">
                            {{ 'meta.title'|trans }}
                        </a>
                    </div>
                    <div class="col-lg-4 text-center text-md-right d-none d-md-block">
                        Créé et hébergé avec <i class="fa fa-heart" aria-hidden="true"></i> par
                        <a href="https://solluz.fr" target="_blank">Solluz - Benjamin DIELEMAN</a>
                    </div>
                </div>
            </div>
            <!-- /.container -->

           {# <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Créé et hébergé avec <i class="fa fa-heart" aria-hidden="true"></i> par
                <a href="https://solluz.fr" target="_blank">Solluz - Benjamin DIELEMAN</a>
            </div>

            <!-- Default to the left -->
            <span>Copyright &copy; 2019-{{ 'now'|date('Y') }}</span>#}
        </footer>
    </div>
    <!-- ./wrapper -->
{% endblock %}

