{% extends 'base.html.twig' %}

{% from 'macros.html.twig' import alert %}

{% block body_class %}login-page{% endblock body_class %}

{% block body %}
    {% for type, flashMessages in app.session.flashbag.all %}
        {% for flashMessage in flashMessages %}
            {{ alert(type, flashMessage) }}
        {% endfor %}
    {% endfor %}

    <div class="{% block box_class %}login-box{% endblock %}">
        <div class="login-logo">
            {% block box_title %}<h3 title="{{ 'meta.title_description'|trans }}">
                <img src="{{ asset('assets/images/logo.png') }}" width="150" />
                <br />
                {{ 'meta.title'|trans }}
            </h3>
            {% endblock %}
            {% block box_sub_title %}{% endblock %}
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body {% block card_body_class %}login-card-body{% endblock %}">
                {% block card_body %}{% endblock %}
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
{% endblock %}

